{% extends 'base.html' %}

{% block conteudo %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <h3 class="mb-3">Criar conta</h3>

        <form method="post">
            {% csrf_token %}

            <h5>Dados do usuario</h5>
            {% for field in user_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}

            <hr>
            <h5>Dados do perfil</h5>
            {% for field in perfil_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}

            <button class="btn btn-primary" type="submit">Criar conta</button>
            <a class="btn btn-link" href="{% url 'perfil:login' %}">Ja tenho conta</a>
        </form>
    </div>
</div>
{% endblock %}