{% extends 'base.html' %}
{% load omfilters %}
{% load static %}

{% block conteudo %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="mb-3">Pedido #{{ pedido.id }}</h3>
        <p>Status: <strong>{{ pedido.get_status_display }}</strong></p>
        {% if pedido.status == 'C' or pedido.status == 'P' %}
        <a class="btn btn-success mb-3" href="{% url 'pedido:fechar-pedido' pedido.id %}">
            <i class="fas fa-check-circle"></i>
            {% if pedido.status == 'C' %}
            Enviar pedido
            {% else %}
            Finalizar compra
            {% endif %}
        </a>
        {% endif %}

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Imagem</th>
                        <th>Produto</th>
                        <th>Variacao</th>
                        <th>Qtd</th>
                        <th>Preco unitario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in itens %}
                    <tr>
                        <td>
                            {% if item.imagem %}
                            {% get_media_prefix as media_prefix %}
                            <img class="cart-img" src="{{ media_prefix }}{{ item.imagem }}" alt="{{ item.produto }}">
                            {% endif %}
                        </td>
                        <td>{{ item.produto }}</td>
                        <td>{{ item.variacao }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>
                            {% if item.preco_promocional %}
                            {{ item.preco_promocional|formata_preco }}
                            {% else %}
                            {{ item.preco|formata_preco }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <p class="lead">Total do pedido: {{ pedido.total|formata_preco }}</p>

        {% if endereco %}
        <h5>Endereco de entrega</h5>
        <p>
            {{ endereco.rua }}, {{ endereco.numero }}<br>
            {{ endereco.bairro }} - {{ endereco.cidade }}/{{ endereco.estado }}<br>
            CEP: {{ endereco.cep }}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}